{
  "name": "blk-SoundMaster",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "assets/scss"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": true
  },
  "imports": [
    {
      "path": "assets/scss/blk-design-system.scss",
      "imports": [
        "assets/scss/blk-design-system/custom/_functions.scss",
        "assets/scss/blk-design-system/bootstrap/_functions.scss",
        "assets/scss/blk-design-system/custom/_variables.scss",
        "assets/scss/blk-design-system/bootstrap/_variables.scss",
        "assets/scss/blk-design-system/custom/_mixins.scss",
        "assets/scss/blk-design-system/bootstrap/_mixins.scss",
        "assets/scss/blk-design-system/bootstrap/_root.scss",
        "assets/scss/blk-design-system/bootstrap/_reboot.scss",
        "assets/scss/blk-design-system/bootstrap/_type.scss",
        "assets/scss/blk-design-system/bootstrap/_images.scss",
        "assets/scss/blk-design-system/bootstrap/_code.scss",
        "assets/scss/blk-design-system/bootstrap/_grid.scss",
        "assets/scss/blk-design-system/bootstrap/_tables.scss",
        "assets/scss/blk-design-system/bootstrap/_forms.scss",
        "assets/scss/blk-design-system/bootstrap/_buttons.scss",
        "assets/scss/blk-design-system/bootstrap/_transitions.scss",
        "assets/scss/blk-design-system/bootstrap/_dropdown.scss",
        "assets/scss/blk-design-system/bootstrap/_button-group.scss",
        "assets/scss/blk-design-system/bootstrap/_input-group.scss",
        "assets/scss/blk-design-system/bootstrap/_custom-forms.scss",
        "assets/scss/blk-design-system/bootstrap/_nav.scss",
        "assets/scss/blk-design-system/bootstrap/_navbar.scss",
        "assets/scss/blk-design-system/bootstrap/_card.scss",
        "assets/scss/blk-design-system/bootstrap/_breadcrumb.scss",
        "assets/scss/blk-design-system/bootstrap/_pagination.scss",
        "assets/scss/blk-design-system/bootstrap/_badge.scss",
        "assets/scss/blk-design-system/bootstrap/_jumbotron.scss",
        "assets/scss/blk-design-system/bootstrap/_alert.scss",
        "assets/scss/blk-design-system/bootstrap/_progress.scss",
        "assets/scss/blk-design-system/bootstrap/_media.scss",
        "assets/scss/blk-design-system/bootstrap/_list-group.scss",
        "assets/scss/blk-design-system/bootstrap/_close.scss",
        "assets/scss/blk-design-system/bootstrap/_modal.scss",
        "assets/scss/blk-design-system/bootstrap/_tooltip.scss",
        "assets/scss/blk-design-system/bootstrap/_popover.scss",
        "assets/scss/blk-design-system/bootstrap/_carousel.scss",
        "assets/scss/blk-design-system/bootstrap/_utilities.scss",
        "assets/scss/blk-design-system/bootstrap/_print.scss",
        "assets/scss/blk-design-system/custom/_alerts.scss",
        "assets/scss/blk-design-system/custom/_buttons.scss",
        "assets/scss/blk-design-system/custom/_dropdown.scss",
        "assets/scss/blk-design-system/custom/_footer.scss",
        "assets/scss/blk-design-system/custom/_forms.scss",
        "assets/scss/blk-design-system/custom/_images.scss",
        "assets/scss/blk-design-system/custom/_modal.scss",
        "assets/scss/blk-design-system/custom/_navbar.scss",
        "assets/scss/blk-design-system/custom/_type.scss",
        "assets/scss/blk-design-system/custom/_icons.scss",
        "assets/scss/blk-design-system/custom/_tables.scss",
        "assets/scss/blk-design-system/custom/_checkboxes-radio.scss",
        "assets/scss/blk-design-system/custom/_fixed-plugin.scss",
        "assets/scss/blk-design-system/custom/_pagination.scss",
        "assets/scss/blk-design-system/custom/_misc.scss",
        "assets/scss/blk-design-system/custom/_rtl.scss",
        "assets/scss/blk-design-system/custom/_input-group.scss",
        "assets/scss/blk-design-system/custom/_example-pages.scss",
        "assets/scss/blk-design-system/custom/_progress.scss",
        "assets/scss/blk-design-system/custom/_badge.scss",
        "assets/scss/blk-design-system/custom/_pills.scss",
        "assets/scss/blk-design-system/custom/_tabs.scss",
        "assets/scss/blk-design-system/custom/_info-areas.scss",
        "assets/scss/blk-design-system/custom/_sections.scss",
        "assets/scss/blk-design-system/custom/vendor/_plugin-perfect-scrollbar.scss",
        "assets/scss/blk-design-system/custom/vendor/_plugin-animate-bootstrap-notify.scss",
        "assets/scss/blk-design-system/custom/vendor/_plugin-bootstrap-switch.scss",
        "assets/scss/blk-design-system/custom/vendor/_plugin-nouislider.scss",
        "assets/scss/blk-design-system/custom/vendor/_plugin-datetimepicker.scss",
        "assets/scss/blk-design-system/custom/_card.scss",
        "assets/scss/blk-design-system/custom/cards/_card-chart.scss",
        "assets/scss/blk-design-system/custom/cards/_card-map.scss",
        "assets/scss/blk-design-system/custom/cards/_card-user.scss",
        "assets/scss/blk-design-system/custom/cards/_card-task.scss",
        "assets/scss/blk-design-system/custom/cards/_card-plain.scss",
        "assets/scss/blk-design-system/custom/cards/_card-register.scss",
        "assets/scss/blk-design-system/custom/cards/_card-stats.scss",
        "assets/scss/blk-design-system/custom/mixins/_alert.scss",
        "assets/scss/blk-design-system/custom/mixins/_badges.scss",
        "assets/scss/blk-design-system/custom/mixins/_background-variant.scss",
        "assets/scss/blk-design-system/custom/mixins/_buttons.scss",
        "assets/scss/blk-design-system/custom/mixins/_forms.scss",
        "assets/scss/blk-design-system/custom/mixins/_icon.scss",
        "assets/scss/blk-design-system/custom/mixins/_modals.scss",
        "assets/scss/blk-design-system/custom/mixins/_popovers.scss",
        "assets/scss/blk-design-system/custom/mixins/_page-header.scss",
        "assets/scss/blk-design-system/custom/mixins/_vendor-prefixes.scss",
        "assets/scss/blk-design-system/custom/mixins/opacity.scss",
        "assets/scss/blk-design-system/custom/mixins/_inputs.scss",
        "assets/scss/blk-design-system/custom/mixins/_dropdown.scss",
        "assets/scss/blk-design-system/custom/mixins/_wizard.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_breakpoints.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_hover.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_image.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_badge.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_resize.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_screen-reader.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_size.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_reset-text.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_text-emphasis.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_text-hide.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_text-truncate.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_visibility.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_alert.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_buttons.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_caret.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_pagination.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_lists.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_list-group.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_nav-divider.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_forms.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_table-row.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_background-variant.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_border-radius.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_box-shadow.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_gradients.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_transition.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_clearfix.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_grid-framework.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_grid.scss",
        "assets/scss/blk-design-system/bootstrap/mixins/_float.scss",
        "assets/scss/blk-design-system/bootstrap/utilities/_align.scss",
        "assets/scss/blk-design-system/bootstrap/utilities/_background.scss",
        "assets/scss/blk-design-system/bootstrap/utilities/_borders.scss",
        "assets/scss/blk-design-system/bootstrap/utilities/_clearfix.scss",
        "assets/scss/blk-design-system/bootstrap/utilities/_display.scss",
        "assets/scss/blk-design-system/bootstrap/utilities/_embed.scss",
        "assets/scss/blk-design-system/bootstrap/utilities/_flex.scss",
        "assets/scss/blk-design-system/bootstrap/utilities/_float.scss",
        "assets/scss/blk-design-system/bootstrap/utilities/_position.scss",
        "assets/scss/blk-design-system/bootstrap/utilities/_screenreaders.scss",
        "assets/scss/blk-design-system/bootstrap/utilities/_shadows.scss",
        "assets/scss/blk-design-system/bootstrap/utilities/_sizing.scss",
        "assets/scss/blk-design-system/bootstrap/utilities/_spacing.scss",
        "assets/scss/blk-design-system/bootstrap/utilities/_text.scss",
        "assets/scss/blk-design-system/bootstrap/utilities/_visibility.scss",
        "assets/scss/blk-design-system/custom/sections/_headers.scss",
        "assets/scss/blk-design-system/custom/sections/_features.scss",
        "assets/scss/blk-design-system/custom/sections/_blogs.scss",
        "assets/scss/blk-design-system/custom/sections/_team.scss",
        "assets/scss/blk-design-system/custom/sections/_projects.scss",
        "assets/scss/blk-design-system/custom/sections/_pricing.scss",
        "assets/scss/blk-design-system/custom/sections/_testimonials.scss",
        "assets/scss/blk-design-system/custom/sections/_contactus.scss",
        "assets/scss/blk-design-system/custom/sections/_social-subscribe-lines.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "settings"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"relative\":\"../css/\"},\"compiler-node-sass\":{\"outputStyle\":\"expanded\"},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}